solOssosiFtpWPF/OS.App/Service References/svcSAPI/ServiceI42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://169.47.196.220:9296/Services/ServiceI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SSC.Entity" />
  <xs:element name="RefreshMemory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshMemoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Solicitud_Venta_Masiva_ORDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstORDR" nillable="true" type="q1:ArrayOfORDR" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Solicitud_Venta_Masiva_ORDRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="FP_Solicitud_Venta_Masiva_ORDRResult" nillable="true" type="q2:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Nota_Credito_ORDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstORDR" nillable="true" type="q3:ArrayOfORDR" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Nota_Credito_ORDRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="FP_Nota_Credito_ORDRResult" nillable="true" type="q4:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Guia_Remision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstORDR" nillable="true" type="q5:ArrayOfORDR" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Guia_RemisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="FP_Guia_RemisionResult" nillable="true" type="q6:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Cobranzas_Masiva_ORDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstORCT" nillable="true" type="q7:ArrayOfORCT" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Cobranzas_Masiva_ORDRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="FP_Cobranzas_Masiva_ORDRResult" nillable="true" type="q8:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_INSERTAR_OCRD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstOCRD" nillable="true" type="q9:ArrayOfOCRD" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_INSERTAR_OCRDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="SP_INSERTAR_OCRDResult" nillable="true" type="q10:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Orden_Compra_OPOR">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstOPRQ" nillable="true" type="q11:ArrayOfOPRQ" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FP_Orden_Compra_OPORResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="FP_Orden_Compra_OPORResult" nillable="true" type="q12:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lasgetItemCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="lasgetItemCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lasgetItemCodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_INSERTAR_OJDT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="LstOJDT" nillable="true" type="q13:ArrayOfOJDT" />
        <xs:element minOccurs="0" name="Compania" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SP_INSERTAR_OJDTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SSC.Entity" minOccurs="0" name="SP_INSERTAR_OJDTResult" nillable="true" type="q14:ArrayOfCError" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>